<?xml version="1.0"?>
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="CineConnectionString" connectionString="workstation id=DBCinecatracho.mssql.somee.com;packet size=4096;user id=cesarsauceda_SQLLogin_1;pwd=nl65ssuu4h;data source=DBCinecatracho.mssql.somee.com;persist security info=False;initial catalog=DBCinecatracho"
      providerName="System.Data.SqlClient" />
    <add name="DBCinecatrachoConnectionString" connectionString="Data Source=DBCinecatracho.mssql.somee.com;Initial Catalog=DBCinecatracho;Persist Security Info=True;User ID=cesarsauceda_SQLLogin_1;Password=nl65ssuu4h"
      providerName="System.Data.SqlClient" />
	  
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
	
</configuration>